<div class="relative overflow-x-auto p-10">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Last Name
                </th>
                <th scope="col" class="px-6 py-3">
                    city
                </th>
                <th scope="col" class="px-6 py-3">
                    Delete
                </th>
                <th scope="col" class="px-6 py-3">
                    Edit
                </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_pagination.items %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    {{ user.name }}
                </td>
                <td class="px-6 py-4">
                    {{ user.last_name }}
                </td>
                <td class="px-6 py-4">
                    {{ user.city }}
                </td>
                <td class="px-6 py-4">
                    <form action="/delete/{{ user.id }}" method="post">
                        <button type="submit"> <i class="fas fa-trash-alt text-red-500"></i></button>
                    </form>
                </td>
                <td class="px-6 py-4">
                    <a href="{{  url_for('update_form', user_id=user.id) }}" class="font-bold py-2 px-4 rounded">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>