<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    </head>
<body class="bg-gray-100">
    <h1 class="text-2xl text-center font-bold mb-4 mt-10">Admin panel Demo</h1>
    <div class="flex justify-between pl-10 pr-10">
        <div class="">
            <button class="bg-blue-500 hover:bg-blue-300 text-white  font-bold py-2 px-4 rounded" onclick="redirectToChartPage()">
                Go to Chart Page
            </button>
        </div>
        <div class="">
            <button class="bg-blue-500 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded" onclick="openModal()">
                Open Form
            </button>
        </div>
    </div>
    
    {% include 'component/form.html' %}

    {% include 'component/listing.html' %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
